@model SOPasswordManager.Models.ChangePasswordModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #content {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .field-validation-error {
        color: red;
    }
</style>


@*<div class="row">
    <div class="form-group col-md-9"><label class="text-danger" id="lblForceFullyChange">@TempData["ForceFullyChange"]</label></div>
</div>*@
@using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post))
{

    <div id="content">
        <form id="changepass">
            <div class="row">
                <div class="form-group col-md-8"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group col-md-8" align="center">
                        <h3>Change Password</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group col-md-8">
                        <label>Current Password</label>
                        <input type="password" asp-for="CurrentPassword" data-val-required="Current password is required." name="CurrentPassword" class="form-control required" placeholder="Current Password" tabindex="1" id="txtCurrentPassword" maxlength="20" />
                        <span asp-validation-for="CurrentPassword"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group col-md-8">
                        <label>New Password</label>
                        <input type="password" id="txtNewPassword" asp-for="NewPassword" data-val-required="New password is required." class="form-control required" placeholder="New Password" name="NewPassword" maxlength="20" tabindex="2" />
                        <span asp-validation-for="NewPassword"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group col-md-8">
                        <label>Confirm Password</label>
                        <input type="password" id="txtConfirmpass" asp-for="ConfirmPassword" data-val-required="Confirm password is required." class="form-control required" placeholder="New Password" name="ConfirmPassword" maxlength="20" tabindex="3" />
                        <span asp-validation-for="ConfirmPassword"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-8"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group col-md-12">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="submit" id="ChangePassword" class="btn btn-primary">Change Password</button>
                        &nbsp;&nbsp;&nbsp;
                        <button type="button" id="ResetPassword" class="btn btn-default" onclick="Clear();">Reset</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/dataTables.bootstrap.min.js"></script>
<script src="~/js/DataTableCommon.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/bootstrap-notify.js"></script>
<script type="text/javascript">

      var isAddmsg = '@TempData["ForceFullyChange"]';
            if (isAddmsg != "") {
                debugger
                showErrorNotification('top', 'center', isAddmsg);
            }
      
    function showErrorNotification(from, align, msg) {

        color = 'danger';

        $.notify({
            icon: "now-ui-icons ui-1_bell-53",
            message: msg

        }, {
                type: color,
                timer: 4000,
                placement: {
                    from: from,
                    align: align
                }
            });
    }

    $(document).ready(function () {
    //    $("#ChangePassword").click(function () {
    //        var isValid = $('#changepass').valid();
    //        if (!isValid)
    //            return false;
    //        var password = $("#txtNewPassword").val();
    //        var confirmPassword = $("#txtConfirmpass").val();
    //        if (password != confirmPassword) {
    //            showErrorNotification('top', 'center', "New password and confirm password should be same.");
    //            return false;
    //            Clear();
    //        }
    //    });
    });

    function Clear() {
        $("#txtCurrentPassword").val('');
        $("#txtNewPassword").val('');
        $("#txtConfirmpass").val('');
        $(".field-validation-error span").hide();
    }
</script>