@model SOPasswordManager.Repo.DTO.LoginViewModel

@{
    ViewData["Title"] = "ForgotPassword";
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>So-Password Manager | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/css/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/css/blue.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/images/favicon.jpg" type="image/png" />
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/bootstrap-notify.js"></script>
    <script src="~/js/common.js"></script>
    <style>
        .field-validation-error {
            color: red;
        }
    </style>
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>SO</b>-PM</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Forgot Password </p>
            <form asp-controller="Login" asp-action="ForgotPassword" role="form" method="post">
                <div class="form-group has-feedback">
                    <input type="email" asp-for="Email" data-val-required="Email is required." name="Email" class="form-control required" maxlength="40" placeholder="Email" tabindex="3" id="txtEmail" />
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    <span asp-validation-for="Email" id="Email"></span>
                </div>

                <div class="row">
                    <!-- /.col -->
                    <div class="col-xs-4" style="float:right">
                        <input type="submit" class="btn btn-primary btn-block btn-flat" value="Submit" onclick="forgotpassword();">
                    </div>
                    <!-- /.col -->
                </div>
           
            </form>
            <!-- /.social-auth-links -->

        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
</body>
</html>
<script src="~/lib/jquery/dist/jquery.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/bootstrap-notify.js"></script>
<script src="~/js/common.js"></script>
<script type="text/javascript">
 
    if ('@ViewBag.EmailNotFound' != "" ) {
        showErrorNotification('top', 'center', '@ViewBag.EmailNotFound');
    } 

    if ('@ViewBag.ErrorMessage' != "" ) {
        showErrorNotification('top', 'center', '@ViewBag.ErrorMessage');
    }
  
</script>
